// Make links to specific rules not get stuffed under the menu 
body.rules h3::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

body.rules div.wrapper ul:first-of-type {
    text-align: center;
}

body.rules div.wrapper em {
    text-align: center;
    display: block;
}

body.rules div.wrapper h4, body.rules div.wrapper h5 {
    font-weight: normal;
    line-height: 1em;
    display: block;
    text-align: center;
}

body.rules div.wrapper h5 {
    font-size: 75%;
}